<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>KhataBook</title>
  </head>
  <body>
    <div class="w-full h-screen bg-zinc-500 text-white">
      <nav class="w-full flex justify-between p-3 px-10">
        <h1 class="text-5xl uppercase font-bold">KhataBook</h1>
        <div class="flex gap-3 p-3">
          <a href="/">Home</a><a href="/create">Create New Hisaab</a>
        </div>
      </nav>

      <form action="/update/<%=filename%>" method="post" class="p-10">
        <textarea
          name="textarea"
          class="w-full h-64 p-3 bg-zinc-400 text-black text-2xl font-bold"
        >
        <%= data %>
        </textarea>
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          Update
        </button>
      </form>
    </div>
  </body>
</html>
